{% extends 'base.html' %}

{% block title %}Welcome to IVS Site Administration - Configuration{% endblock %}

{% block subnav %}
    {% include 'includes/configuration_subnav.html' %}
{% endblock %}

{% block content %}
    <h1>Welcome to Configuration</h1>
    <p>The configuration web page is</p>
    <p>for entering configuration information of antennas, supporting</p>
    <p>the International VLBI Service for Geodesy and Astrometry (IVS)</p>
    <p> </p>
    <p> </p>
    <p>(In order to save the data, click "Next" button, please.)</p>

    <form action="{% url 'contact' %}" method="get">
        <button type="submit">Proceed to fill in the configuration form</button>
    </form>
{% endblock %}

