{% extends 'base.html' %}

{% block title %}Welcome to IVS Site Administration - Antenna{% endblock %}

{% block subnav %}
    {% include 'includes/antenna_subnav.html' %}
{% endblock %}

{% block content %}
    <h1>Welcome to Antenna</h1>
    <p>The antenna web page is for entering domes information of antennas,</p>
    <p>supporting the International VLBI Service for Geodesy and Astrometry (IVS)</p>
    <p>(In order to save the data, click "Next" button, please.)</p>

    <form action="{% url 'request_form' %}" method="get">
        <button type="submit">Proceed to fill in the antenna form</button>
    </form>
{% endblock %}