{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logbook Info</title>
</head>
<body>
    
    <header></header>
    
    <!-- Main Tabs for Welcome Page -->
    <div class="tab" data-group="main">
        <button class="tablinks" onclick="location.href='{% url 'registeration' %}'">Registeration</button>
        <button class="tablinks" onclick="location.href='{% url 'login' %}'">Login</button>
        <button class="tablinks" onclick="location.href='{% url 'antenna' %}'">Antenna</button>
        <button class="tablinks" onclick="location.href='{% url 'configuration' %}'">Configuration</button>
        <button class="tablinks" onclick="location.href='{% url 'logbook' %}'">Logbook</button>
        <button class="tablinks" onclick="location.href='{% url 'summary' %}'">Summary</button>
        <button class="tablinks" onclick="location.href='{% url 'impressum' %}'">Impressum</button>

    <header></header>
        
        <h2>Logbook Info</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Next</button>
        </form>
    </div>    
</body>
</html>
{% endblock %}  