{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<body>
    <div class="container">
    {% block content %}
    <header></header>
    
    <!-- Main Tabs for Welcome Page -->
    <div class="tab" data-group="main">
        <button class="tablinks" onclick="location.href='{% url 'registeration' %}'">Registeration</button>
        <button class="tablinks" onclick="location.href='{% url 'login' %}'">Login</button>
        <button class="tablinks" onclick="location.href='{% url 'antenna' %}'">Antenna</button>
        <button class="tablinks" onclick="location.href='{% url 'configuration' %}'">Configuration</button>
        <button class="tablinks" onclick="location.href='{% url 'logbook' %}'">Logbook</button>
        <button class="tablinks" onclick="location.href='{% url 'summary' %}'">Summary</button>
        <button class="tablinks" onclick="location.href='{% url 'imprint' %}'">Imprint</button>

    <h2>Logbook Info - Summary</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <!-- Summary Tab -->
    <div id="Summary" class="tabcontent" data-group="logbook">
        <p>Review all the information entered in the previous tabs before submitting:</p>
        <p> </p>

        <p><strong>Entery Time:</strong> {{ logbook_data.entery_time }}</p>
        <p><strong>Event Time:</strong> {{ logbook_data.event_time }}</p>
        <p><strong>Technician Editor/User:</strong> {{ logbook_data.technician_editor }}</p>
        <p><strong>Participants:</strong> {{ logbook_data.participants }}</p>
        <p><strong>Telescope:</strong> {{ logbook_data.telescope}}</p>
        <p><strong>Component:</strong> {{ logbook_data.component }}</p>
        <p><strong>New Component:</strong> {{ logbook_data.new_component }}</p>
        <p><strong>Detailed Info:</strong> {{ logbook_data.detailed_info }}</p>
        <p><strong>Attachment:</strong> {{ logbook_data.attachment}}</p>

        <!-- Submit button to finalize -->
        <form action="{% url 'logbook_summary' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="submit_form">
            <button type="submit">Submit</button>
            <a href="{% url 'logbook_form' %}">Back</a>
        </form>
    </div>
    {% endblock %}
    </div>
</body>