<nav class="sub-nav">
    <div class="sub-nav-container">
        <button class="sub-nav-tab" onclick="location.href='{% url 'request_form' %}'">Request Form</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'site_description' %}'">Site Description</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'domes_info' %}'">Domes Information</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'approximate_position' %}'">Approximate Position</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'instrument' %}'">Instrument</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'operation_contact' %}'">Operation Contact</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'site_contact' %}'">Site Contact</button>
    </div>
</nav> 