<nav class="sub-nav">
    <div class="sub-nav-container">
        <button class="sub-nav-tab" onclick="location.href='{% url 'contact' %}'">Contact</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'site_identification' %}'">Site Identification</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'site_local_network_info' %}'">Site Local Network Info</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'site_descriptive_info' %}'">Site Descriptive Info</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'antenna_details' %}'">Antenna Details</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'receiver' %}'">Receiver</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'cables_receiver_and_backend' %}'">Cables Receiver and Back end</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'data_acquisition_system' %}'">Data Acquisition System</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'meteorological_instrumentation' %}'">Meteorological Instrumentation</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'time_and_frequency_standards' %}'">Time & Frequency Standards</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'auxilliary_equipment' %}'">Auxilliary Equipment</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'co_locations' %}'">Co Locations</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'field_system_computer' %}'">Field System Computer</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'on_site_contact' %}'">On Site Contact</button>
        <button class="sub-nav-tab" onclick="location.href='{% url 'responsible_agency' %}'">Responsible Agency</button>
    </div>
</nav> 