{% extends 'base.html' %}

{% block title %}Imprint{% endblock %}

{% block content %}
<div class="container mt-4 imprint-page">
    <h1>Imprint</h1>
    <p>Information according to § 5 TMG</p>

    <p>Research Facility for Satellite Geodesy,<br>
    Faculty of Aeronautics and Astronautics,<br>
    Technical University of Munich,<br>
    Alexander Neidhardt,<br>
    Arcisstr. 21, 80333 Munich</p>

    <p><strong>Represented by:</strong><br>
    Alexander Neidhardt</p>

    <p><strong>Contact:</strong><br>
    Telephone: +49-9941-603-262<br>
    Fax: +49-9941-603-222<br>
    Email: alexander.neidhardt@tum.de</p>

    <p><strong>Responsible for the content according to § 55 para. 2 RStV:</strong><br>
    Alexander Neidhardt<br>
    (address as above)</p>

    <h2>Disclaimer</h2>

    <h3>Liability for content</h3>
    <p>The content of our pages was created with the greatest care. However, we cannot accept any liability for the accuracy, completeness, or timeliness of the content. As a service provider, we are responsible for our own content on these pages in accordance with Section 7 (1) of the German Telemedia Act (TMG).</p>
    <p>However, according to Sections 8 to 10 of the TMG, as a service provider we are not obligated to monitor transmitted or stored third-party information or to search for circumstances that indicate illegal activity. Obligations to remove information or to block the use of information in accordance with general laws remain unaffected. In this case, liability is only possible at the time of knowledge about a specific violation of law.</p>
    <p>As soon as we become aware of such violations, we will remove this content immediately.</p>

    <h3>Liability for links</h3>
    <p>Our offer contains links to external third-party websites over whose content we have no influence. Therefore, we cannot accept any liability for this external content. The respective provider or operator of the page is always responsible for the content of the linked pages.</p>
    <p>The linked pages were checked for possible legal violations at the time the link was created. Illegal content was not recognizable at the time the link was created. However, permanent control of the content of the linked pages is not reasonable without concrete indications of a legal violation. If we become aware of any legal violations, we will remove such links immediately.</p>

    <h3>Copyright</h3>
    <p>The content and works on these pages created by the site operators are subject to German copyright law. Reproduction, processing, distribution and any type of exploitation outside the limits of copyright law require the written consent of the respective author or creator.</p>
    <p>Downloads and copies of this page are only permitted for private, non-commercial use. Insofar as the content on this page was not created by the operator, the copyrights of third parties are observed. In particular, third-party content is marked as such. Should you nevertheless become aware of a copyright infringement, we ask you to notify us accordingly. Upon notification of any violations, we will remove such content immediately.</p>

    <h3>Data protection</h3>
    <p>The use of our website is generally possible without providing personal data. If personal data (such as name, address, or email addresses) is collected on our pages, this is always done on a voluntary basis wherever possible. This data will not be passed on to third parties without your express consent.</p>
    <p>We point out that data transmission over the Internet (e.g., when communicating by email) can have security gaps. Complete protection of data from access by third parties is not possible.</p>
    <p>The use of contact data published as part of the imprint obligation by third parties to send unsolicited advertising and information materials is hereby expressly prohibited. The operators of the pages expressly reserve the right to take legal action in the event of unsolicited advertising information being sent, for example, through spam emails.</p>

    <h3>Google Analytics</h3>
    <p>This website uses Google Analytics, a web analysis service provided by Google Inc. ("Google"). Google Analytics uses "cookies", which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information to evaluate your use of the website, compile reports on website activity for website operators, and provide other services related to website activity and internet usage.</p>
    <p>Google may also transfer this information to third parties where required to do so by law, or where such third parties process the data on Google's behalf. Google will never associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you agree to the processing of data about you by Google in the manner and for the purposes set out above.</p>

    <p><em>Imprint from the Imprint Generator of the Hasselbach law firm, Bonn</em></p>

    <form action="{% url 'welcome' %}" method="get">
        <button type="submit">Confirm</button>
    </form>
</div>
{% endblock %}